// .main-layout {
// 	height: 100vh;
// 	background-color: @background-base;
// 	grid-template-areas:
// 		'top-bar         top-bar         top-bar'
// 		'nav-bar         main-view       right-sidebar'
// 		'playing-bar playing-bar playing-bar';
// 	grid-template-columns: auto 1fr;
// 	grid-template-rows: auto 1fr auto;
// }
.main-layout {
	background-color: @background-base;
	height: 100vh;
	grid-template-areas:
		'nav-bar         top-bar         top-bar'
		'nav-bar         main-view       right-sidebar'
		'playing-bar playing-bar playing-bar';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;

	.top-bar {
		grid-area: top-bar;
	}

	.main-nav {
		grid-area: nav-bar;
	}

	.playing-bar {
		grid-area: playing-bar;
	}

	.main-content {
		grid-area: main-view, right-sidebar;
	}
}

.card-grig {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-auto-rows: 270px;
	gap: 20px;
}
